<script>
	$('document').ready(function () {

		// datatable config
		console.log("are you working");
		var gendataTable = $('#SegmentTable')

			.DataTable(
				{
					ajax: {

						contentType: 'application/json',
						url: '/segment/all',
						type: 'Get'

					},
					lengthMenu: [5, 10, 20, 50, 100],
					columns: [

						{
							data: 'segmentID',
							render: function (data, type, row, meta) {
								return meta.row + meta.settings._iDisplayStart + 1;
							}
						},


						{
							data: 'segmentName'
						},
						{

							data: 'segmentID',
							"render": function (data,
								type,
								row,
								meta) {

								data = `
                                            

                                                <button class="btn btn-sm btn-light mx-1" onclick="onEdit(${data})"><i class="fa fa-pen"></i></button>

                                                <button class="btn btn-sm text-danger mx-1" onclick="onDelete(${data})"><i class="fa fa-trash"></i></button>
												
													`
								return data;
							}

						}




					],

					language: {
						"processing": "Loading. Please wait ..."
					}
				});

		$('#gdata_filter input').unbind();
		$('#gdata_filter input').bind(
			'keyup',
			function (e) {
				if (e.keyCode == 13) {

					gendataTable.column(0)
						.search(this.value)
						.draw();
				}
			});



	});

	// handle edit
	function onEdit(id) {
		console.log('onEdit: row id:', id);
		let url = `/segments/getSegment?SegmentID=${id}`;
		$.get(url, function (Segment, status) {

			$("#segmentIDEdit").val(Segment.segmentID);
			$("#segmentNameEdit").val(Segment.segmentName);


			// show the modal
			new bootstrap.Modal('#editModal').toggle()



		});
	}
	// handle delete
	function onDelete(id) {
		console.log('onDelete: row id:', id);

		let url = `/segments/deleteSegment?SegmentID=${id}`
		$('#deleteModal #delRef').attr('href', url);
		new bootstrap.Modal('#deleteModal').toggle();
	}
// add modal 
	$('#closenewModal3').click(function () {
		$('#editWarning').modal('show');
	});
	$('#closenewModal').click(function () {
		$('#editWarning').modal('show');
	});
	$("#closeid").on("click", function () {
		$('#editWarning').modal('hide');

	});
		$('#warningCloseBtn').click(function () {
		const addform = $('addform');
		var form = document.getElementById("addform");

		form.reset();
		$('#addModal').modal('hide');
		$('#editWarning').modal('hide');

	});
	// for edit modal
	
	$('#closenewModal4').click(function () {
		$('#editWarning2').modal('show');
	});
	$('#closeEditModal2').click(function () {
		$('#editWarning2').modal('show');
	});

	$("#closeid2").on("click", function () {
		$('#editWarning2').modal('hide');

	});
	$('#warningCloseBtn2').click(function () {
		$('#editWarning2').modal('hide');

		$('#editModal').modal('hide');
	});
</script>