<!--Add Modal -->

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
	<form th:action="@{/segments/saveSegment}" th:object="${Segment}" id="addform" method="POST">

		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="addModalLabel">Add new Segment
					</h5>

					<button type="button" id="closenewModal" class="close closefirstmodal">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">


					<div class="form-group" hidden>
						<label for="recipient-name" class="col-form-label">Segment
							ID
						</label>
						<input type="text" class="form-control" id="SegmentID" name="segmentID">
					</div>



					<div class="form-group">
						<label for="message-text" class="col-form-label">Segment Name
						</label>
						<input type="text" class="form-control" id="SegmentName" name="segmentName" required></input>
					</div>


					<div class="modal-footer">
					<button type="button" class="btn btn-sm btn-secondary" id= "closenewModal3">Close</button>
						<button type="submit" class="btn btn-sm btn-primary">Save</button>
					</div>

				</div>
			</div>
		</div>
	</form>

</div>
<!--  add Modal -->

<!--Edit Modal -->

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
	<form th:action="@{/segments/updateSegment}" th:object="${segment}" method="POST">

		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="editModalLabel">Edit Segment
					</h5>
				   
                    <button type="button" id="closeEditModal2" class="close closefirstmodal2">
					<span aria-hidden="true">&times;</span>
				</button>
				</div>
				<div class="modal-body">


					<div class="form-group" hidden>
						<label for="recipient-name" class="col-form-label">Segment
							ID </label> <input type="text" class="form-control" id="segmentIDEdit" name="segmentID">
					</div>
					<div class="form-group">
						<label for="message-text" class="col-form-label">Segment
							Name</label>
						<input type="text" class="form-control" id="segmentNameEdit" name="segmentName" required></input>
					</div>


				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-sm btn-secondary" id= "closenewModal4">Close</button>
					<button type="submit" class="btn btn-sm btn-primary">Save</button>
				</div>

			</div>
		</div>
	</form>

</div>
<!--  edit Modal -->
<div id="editWarning" class="modal fade" role="dialog" data-backdrop="false">
	<div class="modal-dialog">

		<div class="modal-content">
			<div class="alert-body">
				<p>You may have unsaved data are you want to close?</p>
				<button id="warningCloseBtn" type="button" class="btn btn-primary closefirstmodal">Yes</button>
				<button type="button" class="btn btn-light" id="closeid" data-dismiss="modal">No</button>
			</div>

		</div>
	</div>
</div>
<div id="editWarning2" class="modal fade" role="dialog" data-backdrop="false">
	<div class="modal-dialog">

		<div class="modal-content">
			<div class="alert-body">
				<p>You may have unsaved data are you want to close?</p>
				<button id="warningCloseBtn2" type="button" class="btn btn-primary closefirstmodal2">Yes</button>
				<button type="button" class="btn btn-light" id="closeid2" data-dismiss="modal">No</button>
			</div>

		</div>

	</div>
</div>
<!-- delete modal-->

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
	aria-hidden="true">

	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteModalLabel">Delete Segment
				</h5>
				<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="container">
				<p>Are you sure you want to delete this Segment?</p>
				<div class="modal-footer">
					<button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cancel</button>
					<a href="" class="btn btn-sm btn-danger" id="delRef">Delete</a>
				</div>
			</div>
		</div>
	</div>

</div>
<!--delete modal -->