<!--Add Modal -->

<!-- Add Modal -->


<div id="newModal" class="modal fade bd-example-modal-xl" tabindex="-1" data-bs-backdrop="static" data-keyboard="false"
	role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog full_modal-dialog">
		<div class="modal-content full_modal-dialog">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Add New Shortcode</h5>


				<button type="button" id="closenewModal" class="close closefirstmodal">
					<span aria-hidden="true">&times;</span>
				</button>

			</div>


			<div class="modal-body">





				<div class="row">

					<div class="col-12">

						<div id="smartwizard">
							<ul class="nav">
								<li><a class="nav-link" href="#form-step-1"> Step 1 </a></li>
								<li><a class="nav-link" href="#form-step-2"> Step 2 </a></li>

							</ul>


							<form th:action="@{/shortcodes/saveShortCode}" th:object="${ShortCode}" id="form"
								onsubmit="return validateForm_add()" method="POST">
								<div class="tab-content" style="height: 300px">

									<div id="form-step-1" class="tab-pane" role="tabpanel">


										<div class="row">
											<div class="form-group">

												<div class="col-md-3">
													<div class="form-group" hidden>
														<label>ShortCode ID </label> <input type="text"
															class="form-control" id="ShortCodeIDs" name="shortcodeID">
													</div>
												</div>
											</div>

											<div class="col-md-4">
												<div class="form-group">
													<label>Account Name</label> <input type="text" class="form-control"
														id="Account_Name" name="accountName" required
														onblur="validateAccount('Account_Name', 'Account Name should only be text')" />
													<span class="invalid-feedback"></span>
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label>Customer Name</label> <input type="text" class="form-control"
														id="customer_Name" name="customerName" required
														onblur="validateName('customer_Name', 'Customer Name should only be text')" />
													<span class="invalid-feedback"></span>

												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label>Follow up number</label> <input type="text" required
														class="form-control" id="followUpNumber" name="followUpNumber"
														onblur="validatenumber('followUpNumber', 'Please enter valid Number')" />
													<span class="invalid-feedback"></span>

												</div>
											</div>


											<div class="col-md-4">
												<div class="form-group">
													<label>ShortCode Number</label> <input type="text" maxlength="4"
														pattern="^0[1-9]|[1-9]\d$" required class="form-control"
														id="Shortcode_NO" name="shortcodeNO"
														onblur="validateShortcode('Shortcode_NO', 'Shortcode must be a positive 4-digit Number')" />
													<span class="invalid-feedback"></span>
												</div>
											</div>



											<div class="col-md-4">
												<div class="form-group">
													<label>Short Code Price</label> <input type="number" class="form-control"
														id="shortCode_Price" name="shortCodePrice" required
														onblur="validateShortcodePrice('shortCode_Price', 'Please enter a positive Number')" />
													<span class="invalid-feedback"></span>

												</div>
											</div>


											<div class="col-md-4">

												<div class="form-group">
													<label>Class</label> <select class="form-select selectpicker"
														id="class" name="classes" required>
														<option value="" selected="selected">Select</option>

														<option th:each="class:${classes}" th:value="${class.classID}"
															th:text="${class.className}">
														</option>

													</select>
												</div>
											</div>




											<div class="col-md-4">
												<div class="form-group">
													<label>Comment</label> <input type="text" class="form-control"
														id="comment" name="comment" />
												</div>
											</div>
											<div class="alert alert-danger d-none" id="error-message2">

											</div>



										</div>




									</div>

									<div id="form-step-2" class="tab-pane" role="tabpanel">

										<div class="row">

											<div class="col-md-4">

												<div class="form-group">
													<label>Additional Services</label> <select
														class="form-select selectpicker" id="aservices"
														name="AdditionalServices">
														<option value="" selected="selected">Select</option>
														<option th:each="as:${aservices}" th:value="${as.aserviceID}"
															th:text="${as.aserviceName}"></option>

													</select>
												</div>
											</div>

											<div class="col-md-4">
												<div class="form-group">
													<label>Zain Requester/Account Name</label> <input type="text"
														class="form-control" id="Zain_Requester_Account" required
														name="zainRequesterAccount"
														onblur="validateName('Zain_Requester_Account', 'Zain Requester Account Name should only be text')" />
													<span class="invalid-feedback"></span>

												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label>Zain Requester Email</label> <input type="email"
														class="form-control" id="Zain_Requester_Email" required
														name="zainRequesterEmail"
														onblur="validateEmail('Zain_Requester_Email', 'Please Enter a valid Email')" />
													<span class="invalid-feedback"></span>

												</div>
											</div>
											<div class="col-md-4">

												<div class="form-group">
													<label>Segment</label> <select class="form-select selectpicker"
														id="segments" name="segments" required>
														<option value="" selected="selected">Select</option>
														<option th:each="segment:${segments}"
															th:value="${segment.segmentID}"
															th:text="${segment.segmentName}"></option>

													</select>
												</div>
											</div>





											<div class="col-md-4">
												<div class="form-group">
													<label>Activation Date</label> <input type="date"
														class="form-control" id="Activation_Date" required
														name="activationDate"
														onblur="validateField('Activation_Date', 'Please Enter Activation Date')" />
													<span class="invalid-feedback"></span>
												</div>
											</div>

											<div class="col-md-4">
												<div class="form-group">
													<label>Expiry Date</label> <input type="date" required
														class="form-control" id="Expiry_Date" name="expiryDate"
														onblur="validateField('Expiry_Date', 'Please Enter Activation Date')" />
													<span class="invalid-feedback"></span>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<input class="btn btn-success btn-block" id="submit"
															type="submit" value="Save" />

													</div>
												</div>
											</div>
											<div class="alert alert-danger d-none" id="error-message">

											</div>
										</div>

									</div>


								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer"></div>
	</div>

</div>




<!--Edit Modal -->

<div id="editModal" class="modal fade bd-example-modal-xl" tabindex="-1" data-bs-backdrop="static" data-keyboard="false"
	role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog full_modal-dialog">
		<div class="modal-content full_modal-dialog">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel2">Edit Short Code</h5>
				<button type="button" id="closeEditModal2" class="close closefirstmodal2">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<input id="readeOnlyInput" type="text" value="1" hidden
					sec:authorize="hasAnyAuthority('Corporate Sales Info')" />



				<div class="row">

					<div class="col-12">

						<div id="smartwizardEdit">
							<ul class="nav">
								<li><a class="nav-link" href="#form-step-1"> Step 1 </a></li>
								<div class="col-md-12">
									<div class="form-group">
										<div class="alert alert-danger d-none" id="error-message-edit">

										</div>
									</div>
								</div>
							</ul>
							<form th:action="@{/shortcodes/updateShortCode}" th:object="${ShortCode}" id="editForm"
								onsubmit="return validateForm()" method="POST">


								<div class="tab-content" style="height: 300px">

									<div id="form-step-1" class="tab-pane" role="tabpanel">



										<!--
										<div class="form-group" hidden>
											<label for="recipient-name" class="col-form-label"> ID
											</label>
											<input type="text" class="form-control" id="idEdit" name="IDs">
											<input type="text" class="form-control" id="segments" name="segments">
										</div>-->

										<div class="row">
											<div class="form-group">

												<div class="col-md-3">
													<div class="form-group" hidden>
														<label>Short Code ID </label> <input type="text"
															class="form-control" id="ShortCodeIDEdit"
															name="shortcodeID">
													</div>
												</div>
											</div>

											<div class="col-md-3">
												<div class="form-group">
													<label>Account Name</label> <input type="text" class="form-control"
														id="ShortCodeaccountNameEdit" name="accountName"
														onblur="validateAccount('ShortCodeaccountNameEdit', 'account Name should only be text')" />
													<span class="invalid-feedback"></span>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label>Customer Name</label> <input type="text" class="form-control"
														id="ShortCodecustomerNameEdit" name="customerName"
														onblur="validateName('ShortCodecustomerNameEdit', 'Customer Name should only be text')" />
													<span class="invalid-feedback"></span>
												</div>

											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label>Follow up number</label> <input type="text"
														class="form-control" id="ShortCodefollowUpNumberEdit"
														name="followUpNumber"
														onblur="validatenumber('ShortCodefollowUpNumberEdit', 'Please enter valid Number')" />
													<span class="invalid-feedback"></span>

												</div>
											</div>


											<div class="col-md-3">
												<div class="form-group">
													<label>Short Code Number</label> <input type="text" readonly
														class="form-control" id="ShortCodeNOEdit" name="shortcodeNO" />
												</div>
											</div>



											<div class="col-md-3">
												<div class="form-group">
													<label>Short Code Price</label> <input type="number" class="form-control"
														id="ShortCodeshortCodePriceEdit" name="shortCodePrice"
														onblur="validateShortcodePrice('ShortCodeshortCodePriceEdit', 'Please enter a positive Number')" />
													<span class="invalid-feedback"></span>
												</div>
											</div>

											<div class="col-md-3">

												<div class="form-group">
													<label>Class</label> <select class="form-select selectpicker"
														id="ShortCodeshortCodeclassNameEdit2" name="classes" required>
														<option value="" selected="selected">Select</option>
														<option th:each="class:${classes}" th:value="${class.classID}"
															th:text="${class.className}"> </option>

													</select>
												</div>
											</div>



											<div class="col-md-3">

												<div class="form-group">
													<label>Additional Services</label> <select
														class="form-select selectpicker" id="ShortCodeaserviceNameEdit2"
														name="AdditionalServices" required>
														<option value="" selected="selected">Select</option>
														<option th:each="as:${aservices}" th:value="${as.aserviceID}"
															th:text="${as.aserviceName}"></option>

													</select>
												</div>
											</div>

											<div class="col-md-3">

												<div class="form-group">

													<label>Status</label> <select class="form-select selectpicker"
														id="ShortCodestatusNameEdit2" name="statuses" required>
														<option value="" selected="selected">Select</option>
														<option th:each="status:${statuses}"
															th:value="${status.statusID}"
															th:text="${status.statusName}"></option>
														</option>

													</select>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label>Zain Requester/Email</label><input type="email"
														class="form-control" id="ShortCodezainRequesterEmailEdit" name="zainRequesterEmail"
														onblur="validateEmail('ShortCodezainRequesterEmailEdit', 'Please Enter a valid Email')" />
													<span class="invalid-feedback"></span>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label>Zain Requester/Account</label> <input type="text"
														class="form-control" id="zainRequesterAccountEdit"
														name="zainRequesterAccount"
														onblur="validateName('zainRequesterAccountEdit', 'Zain Requester Account Name should only be text')" />
													<span class="invalid-feedback"></span>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label>Segment</label> <select class="form-select selectpicker"
														id="segments1" name="segments" required>
														<option value="" selected="selected">Select</option>
														<option th:each="segment:${segments}"
															th:value="${segment.segmentID}"
															th:text="${segment.segmentName}">
														</option>

													</select>
												</div>
											</div>

											<div class="col-md-3">
												<div class="form-group">
													<label>activation Date</label> <input type="date"
														class="form-control" id="ShortCodeactivationDateEdit"
														name="activationDate"
														onblur="validateField('ShortCodeactivationDateEdit', 'Please Enter Activation Date')" />
													<span class="invalid-feedback"></span>
												</div>
											</div>


											<div class="col-md-3">
												<div class="form-group">
													<label>Expiry Date</label> <input type="date" class="form-control"
														id="ShortCodeexpiryDateEdit" name="expiryDate"
														onblur="validateField('ShortCodeexpiryDateEdit', 'Please Enter Expiry Date')" />
													<span class="invalid-feedback"> </span>
												</div>
											</div>

											<div class="col-md-3">
												<div class="form-group">
													<label>Comment</label> <input type="text" class="form-control"
														id="ShortCodecommentEdit" name="comment"/>

												</div>
											</div>
										</div>

										<div class="row"
											sec:authorize="hasAnyAuthority('admin','Corporate Business Solution')">
											<div class="col-md-12">
												<div class="form-group">
													<input class="btn btn-success btn-block" id="submit" type="submit"
														value="Save" />
												</div>
											</div>
										</div>

									</div>
								</div>

							</form>

						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer"></div>
</div>
</div>


<div id="editWarning2" class="modal fade" role="dialog" data-backdrop="false">
	<div class="modal-dialog">

		<div class="modal-content">
			<div class="alert-body">
				<p>You may have unsaved data are you want to close?</p>
				<button id="warningCloseBtn2" type="button" class="btn btn-primary closefirstmodal2">Yes</button>
				<button type="button" class="btn btn-light" id="closeid2" data-dismiss="modal">No</button>
			</div>

		</div>

	</div>
</div>

<div id="editWarning" class="modal fade" role="dialog" data-backdrop="false">
	<div class="modal-dialog">

		<div class="modal-content">
			<div class="alert-body">
				<p>You may have unsaved data are you want to close?</p>
				<button id="warningCloseBtn" type="button" class="btn btn-primary closefirstmodal">Yes</button>
				<button type="button" class="btn btn-light" id="closeid" data-dismiss="modal">No</button>
			</div>

		</div>
	</div>
</div>
<!--  edit Modal -->

<!-- delete modal-->

<div sec:authorize="hasAnyAuthority('Corporate Business Solution','admin')" class="modal fade" id="deleteModal"
	tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">

	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteModalLabel">Delete ShortCode</h5>
				<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="container">
				<p>Are you sure you want to delete this ShortCode?</p>
				<div class="modal-footer">
					<button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cancel</button>
					<a href="" class="btn btn-sm btn-danger" id="delRef">Delete</a>
				</div>
			</div>
		</div>
	</div>

</div>
<!--delete modal -->