<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ShortCodes</title>

<link rel="stylesheet" href="/assets/css/main/app.css">
<link rel="stylesheet" href="/assets/extensions/@fortawesome/fontawesome-free/css/all.min.css">
<link rel="stylesheet" href="/assets/extensions/datatables.min.css">
<link rel="stylesheet" href="/assets/css/pages/datatables.css">
<link rel="stylesheet" href="/assets/css/pages/tasks-management.css">
<link rel="stylesheet" href="/assets/css/smart_wazird_dot.css">
<link rel="stylesheet" href="/assets/css/smart_wazird.min.css">

<link rel="stylesheet" href="/assets/css/custom.css">

<link rel="shortcut icon" href="/assets/images/logo/favicon.svg"
	type="image/x-icon">
<link rel="shortcut icon" href="/assets/images/logo/favicon.png"
	type="image/png">
<html xmlns:th="http://www.thymeleaf.org">

</head>