<script src="/assets/extensions/jquery/jquery.min.js"></script>
<script src="/assets/js/bootstrap.js"></script>
<script src="/assets/extensions/datatables.min.js"></script>
<script src="/assets/extensions/jquery.spring-friendly.js"></script>
<script src="/assets/js/jquery.smartWizard.min.js"></script>

<script src="/assets/extensions/loadingoverlay.min.js"></script>
<script src="/assets/extensions/jquery.validate.min.js"></script>
<!-- <script src="/assets/extensions/chart.js/chart.min.js"></script>
<script src="/assets/extensions/chart.js/chart.js"></script> -->

 


<script src="/assets/extensions/highcharts.js"></script>
<script src="/assets/extensions/highcharts-3d.js"></script>
<script src="/assets/extensions/exporting.js"></script>
<script src="/assets/extensions/export-data.js"></script>
<script src="/assets/extensions/accessibility.js"></script>

<!-- <script src="/assets/extensions/apexchart/apexcharts.js"></script>
<script src="/assets/extensions/apexchart/apexcharts.min.js"></script> -->
<script src="/assets/js/app.js"></script>

<script src="/assets/extensions/moment.min.js"></script>
<script src="/assets/js/custom.js"></script>

